<h1>About</h1>
<p>I have build this application for learning Ruby on Rails.</p>


<p>Please visit my <span class="label label-default"><a href="http://www.linkedin.com/in/sreeprasadatrit">Sreeprasad</a></span></p>

 


